.App {
  text-align: center;
  margin-top: 40px;
}
.count {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 40px;
}
.count:hover {
  background-color: #222;
  color: #ffffff;
  transition: 0.5s;
}
.Reset {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 40px;
}
.Reset:hover {
  background-color: #222;
  color: #ffffff;
  transition: 0.5s;
}
.sum {
  font-size: 40px;
  color: #222;
}
